
.vs/Craften Minecraft/v16/Server/sqlite3/storage.ide
.vs/Craften Minecraft/v16/Server/sqlite3/db.lock
.vs/Craften Minecraft/v16/.suo
.vs/Craften Minecraft/v15/Server/sqlite3/storage.ide-wal
.vs/Craften Minecraft/v15/Server/sqlite3/storage.ide-shm
.vs/Craften Minecraft/v15/Server/sqlite3/storage.ide
.vs/Craften Minecraft/v15/Server/sqlite3/db.lock
.vs/Craften Minecraft/v15/.suo
