
.vs/Craften Minecraft/v16/Server/sqlite3/storage.ide
.vs/Craften Minecraft/v16/Server/sqlite3/db.lock
.vs/Craften Minecraft/v16/.suo
.vs/Craften Minecraft/v15/Server/sqlite3/storage.ide-wal
.vs/Craften Minecraft/v15/Server/sqlite3/storage.ide-shm
.vs/Craften Minecraft/v15/Server/sqlite3/storage.ide
.vs/Craften Minecraft/v15/Server/sqlite3/db.lock
.vs/Craften Minecraft/v15/.suo
Updater/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Updater/obj/Release/Updater.pdb
Updater/obj/Release/Updater.exe
Updater/obj/Release/Updater.csprojAssemblyReference.cache
Updater/obj/Release/Updater.csproj.FileListAbsolute.txt
Updater/obj/Release/Updater.csproj.CopyComplete
Updater/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Updater/obj/Debug/Updater.pdb
Updater/obj/Debug/Updater.exe
Updater/obj/Debug/Updater.csprojAssemblyReference.cache
Updater/obj/Debug/Updater.csproj.FileListAbsolute.txt
Updater/obj/Debug/Updater.csproj.CopyComplete
Updater/obj/Debug/Team-ELAN-Launcher-Updater.csprojAssemblyReference.cache
Updater/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Updater/bin/Debug/test.txt
Updater/bin/Debug/Team-ELAN Launcher Updater.pdb
Updater/bin/Debug/Team-ELAN Launcher Updater.exe
Updater/bin/Debug/System.dll
Updater/.vs/Team-ELAN-Launcher-Updater/v16/Server/sqlite3/storage.ide
Updater/.vs/Team-ELAN-Launcher-Updater/v16/Server/sqlite3/db.lock
Updater/.vs/Team-ELAN-Launcher-Updater/v16/.suo
Craften Minecraft/obj/Release/Craften Minecraft.csprojAssemblyReference.cache
.vs/Craften Minecraft/v16/Server/sqlite3/storage.ide-wal
.vs/Craften Minecraft/v16/Server/sqlite3/storage.ide-shm
Craften Minecraft/obj/Release/Craften Minecraft.csprojAssemblyReference.cache
